body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: 500;
}

.card {
  /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
  gap: 36px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  /* flex-flow: column wrap; */
}



.bx-circle{
  height: 250px;
  width: 250px;
  background: #ffbd59;
  border: 1px solid #FFA318;
  box-shadow: 6.66667px 6.66667px 25px -3.33333px rgba(166, 100, 0, 0.15);
  border-radius: 250px;
  margin: 30px auto;
}

.num-circle {
  width: 44px;
  height: 44px;
  background: #ffa318;
  border-radius: 100%;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  top: 0;
  left: 37px;
}


.arrowsec3{
  position: relative;
}



/* .down-arrow {
  transform: translateY(-50%);
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  transition: transform 1s;
  transform-origin: center;
}
div:hover .down-arrow {

  transform: translateY(-50%) rotate(-90deg);
} */
/* #z-sec {
  max-width: 1400px;
  margin: 0 auto;
} */

.container {
  cursor: pointer;
  /* display: flex;
    flex-direction: column; */
  /* flex-wrap: wrap; */
  position: relative;
  padding: 33px 34px;
  align-items: center;
  /* justify-content: center; */
  gap: 36px;
}
#row3{
  /* display: flex;
  flex-direction: row; */
  /* gap: ; */
  /* margin-left: -30px; */
  padding: 0px 118px 0px 73px;
}
.custom-card {
  border: 1px solid #ffa318;
  box-shadow: 8px 8px 30px -4px rgba(166, 100, 0, 0.2);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  margin: 10px auto;
  cursor: pointer;
  /* background: #FFBD59; */
  max-width: 500px;
  position: relative;
}


.custom-card::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #FFBD59;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.custom-border {
  border: 1px solid #FFA318;
  border-radius: 15px;
  background: #FFBD59;
  width: 100%;
  max-width: 300px;
  box-shadow: 8px 8px 30px -4px rgba(166, 100, 0, 0.20);
}
/* 
.input1 {
  width: 90%;
} */

#con-1{
  max-width: 1350;
  margin-left: 50px;
  margin-right: 100px;
}
.input1 input,
.input1 select {
  padding: 13px 20px 13px 52px;
  width: 100%;
  background: #ffbd59;
  border: 1px solid #ffa318;
  border-radius: 5px;
  height: 51px;
}

.input1 input::placeholder,
.input1 select,
.input1 input {
  color: #d28107;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
}

.input1 select {
  padding-right: 20px;
  padding-left: 0;
  width: 100%;
  text-indent: 54px;
  height: 51px;
}

.input1 input:focus-visible,
.input1 select:focus-visible {
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.input1 {


  /* display: inline-flex;
      width: 200px;
      height: 52px;
      padding: 2px 3px;
      flex-shrink: 0;
      border-radius: 5px;
      border: 1px solid #FFA318;
      background: #FFBD59;
      text-align: center; */
  color: #FFA318;
  padding: 13px 20px 13px 52px;
  width: 100%;
  background: #ffbd59;
  border: 1px solid #ffa318;
  border-radius: 5px;
  height: 51px;

}

.custom-position {
  position: absolute;
  /* left: 40; */
  top: 54px;
  line-height: 1.5;
  color: #fff;
  transform: translate(-50%, -50%);
}


.chkbx {
  position: relative;
  top: 1px;
  min-width: 24px;
  height: 24px;
  border: 1.5px solid #d28107;
  border-radius: 4px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  /* display: block; */
  z-index: -1;
}

.chkbx:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8.3px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.center2 {
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.ptxt {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  /* display: block; */
  margin-left: 10px;
  /* margin: auto; */

}

.span_1 {
  /* margin-left: 30px; */
  color: #1A72F6;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

}

.terms a {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #1a72f6;
  text-decoration: none;
}


.custom-checkbox:checked~.chkbx {
  border-color: transparent;
  background: #121212;

}

.custom-checkbox:checked~.chkbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}


.checkbox_1 input:checked~.checkmark {
  background-color: black;
}

.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

.checkbox_1 input:checked~.checkmark:after {
  display: block;
  opacity: 1;
    transform: rotate(45deg) scale(1);
}
.invisible {
  display: none !important;
}


.bg-light-yellow {
  background: #fecd81;
}

.bottom-wave {
  padding-bottom: 75px;
  position: relative;
  overflow: hidden;
}

.bg-light-yellow.bottom-wave::after {
  background: #ffbd59 !important;
}

.bottom-wave::after,
.top-wave::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 40px;
  bottom: 0px;
  background: #fecd81;
  clip-path: polygon(0% 100%,
      0.5% 99.7781%,
      1% 99.1144%,
      1.5% 98.0147%,
      2% 96.4888%,
      2.5% 94.5503%,
      3% 92.2164%,
      3.5% 89.5078%,
      4% 86.4484%,
      4.5% 83.0656%,
      5% 79.3893%,
      5.5% 75.4521%,
      6% 71.289%,
      6.5% 66.9369%,
      7% 62.4345%,
      7.5% 57.8217%,
      8% 53.1395%,
      8.5% 48.4295%,
      9% 43.7333%,
      9.5% 39.0928%,
      10% 34.5492%,
      10.5% 30.1426%,
      11% 25.9123%,
      11.5% 21.8958%,
      12% 18.1288%,
      12.5% 14.6447%,
      13% 11.4743%,
      13.5% 8.646%,
      14% 6.1847%,
      14.5% 4.1123%,
      15% 2.4472%,
      15.5% 1.2042%,
      16% 0.39426%,
      16.5% 0%,
      17% 0.098664%,
      17.5% 0.61558%,
      18% 1.5708%,
      18.5% 2.956%,
      19% 4.7586%,
      19.5% 6.9629%,
      20% 9.5492%,
      20.5% 12.4944%,
      21% 15.7726%,
      21.5% 19.3546%,
      22% 23.2087%,
      22.5% 27.3005%,
      23% 31.5938%,
      23.5% 36.0504%,
      24% 40.6309%,
      24.5% 45.2946%,
      25% 50%,
      25.5% 54.7054%,
      26% 59.3691%,
      26.5% 63.9496%,
      27% 68.4062%,
      27.5% 72.6995%,
      28% 76.7913%,
      28.5% 80.6454%,
      29% 84.2274%,
      29.5% 87.5056%,
      30% 90.4508%,
      30.5% 93.0371%,
      31% 95.2414%,
      31.5% 97.044%,
      32% 98.4292%,
      32.5% 99.3844%,
      33% 99.9013%,
      33.5% 100%,
      34% 99.6057%,
      34.5% 98.7958%,
      35% 97.5528%,
      35.5% 95.8877%,
      36% 93.8153%,
      36.5% 91.354%,
      37% 88.5257%,
      37.5% 85.3553%,
      38% 81.8712%,
      38.5% 78.1042%,
      39% 74.0877%,
      39.5% 69.8574%,
      40% 65.4508%,
      40.5% 60.9072%,
      41% 56.2667%,
      41.5% 51.5705%,
      42% 46.8605%,
      42.5% 42.1783%,
      43% 37.5655%,
      43.5% 33.0631%,
      44% 28.711%,
      44.5% 24.5479%,
      45% 20.6107%,
      45.5% 16.9344%,
      46% 13.5516%,
      46.5% 10.4922%,
      47% 7.7836%,
      47.5% 5.4497%,
      48% 3.5112%,
      48.5% 1.9853%,
      49% 0.88564%,
      49.5% 0.2219%,
      50% 0%,
      50.5% 0.2219%,
      51% 0.88564%,
      51.5% 1.9853%,
      52% 3.5112%,
      52.5% 5.4497%,
      53% 7.7836%,
      53.5% 10.4922%,
      54% 13.5516%,
      54.5% 16.9344%,
      55% 20.6107%,
      55.5% 24.5479%,
      56% 28.711%,
      56.5% 33.0631%,
      57% 37.5655%,
      57.5% 42.1783%,
      58% 46.8605%,
      58.5% 51.5705%,
      59% 56.2667%,
      59.5% 60.9072%,
      60% 65.4509%,
      60.5% 69.8574%,
      61% 74.0877%,
      61.5% 78.1042%,
      62% 81.8712%,
      62.5% 85.3553%,
      63% 88.5257%,
      63.5% 91.354%,
      64% 93.8153%,
      64.5% 95.8877%,
      65% 97.5528%,
      65.5% 98.7958%,
      66% 99.6057%,
      66.5% 100%,
      67% 99.9013%,
      67.5% 99.3844%,
      68% 98.4292%,
      68.5% 97.044%,
      69% 95.2414%,
      69.5% 93.0371%,
      70% 90.4508%,
      70.5% 87.5056%,
      71% 84.2274%,
      71.5% 80.6454%,
      72% 76.7913%,
      72.5% 72.6995%,
      73% 68.4062%,
      73.5% 63.9496%,
      74% 59.3691%,
      74.5% 54.7054%,
      75% 50%,
      75.5% 45.2946%,
      76% 40.6309%,
      76.5% 36.0504%,
      77% 31.5938%,
      77.5% 27.3005%,
      78% 23.2087%,
      78.5% 19.3546%,
      79% 15.7726%,
      79.5% 12.4944%,
      80% 9.5491%,
      80.5% 6.9629%,
      81% 4.7586%,
      81.5% 2.956%,
      82% 1.5708%,
      82.5% 0.61558%,
      83% 0.098664%,
      83.5% 0%,
      84% 0.39427%,
      84.5% 1.2042%,
      85% 2.4472%,
      85.5% 4.1123%,
      86% 6.1847%,
      86.5% 8.646%,
      87% 11.4743%,
      87.5% 14.6447%,
      88% 18.1288%,
      88.5% 21.8958%,
      89% 25.9123%,
      89.5% 30.1426%,
      90% 34.5492%,
      90.5% 39.0928%,
      91% 43.7333%,
      91.5% 48.4295%,
      92% 53.1395%,
      92.5% 57.8217%,
      93% 62.4345%,
      93.5% 66.9369%,
      94% 71.289%,
      94.5% 75.4521%,
      95% 79.3893%,
      95.5% 83.0656%,
      96% 86.4484%,
      96.5% 89.5078%,
      97% 92.2164%,
      97.5% 94.5503%,
      98% 96.4888%,
      98.5% 98.0147%,
      99% 99.1144%,
      99.5% 99.7781%,
      100% 100%);
  left: -21%;
}

.top-wave::before {
  top: -46px;
  background: #ffbd59;
}

.top-wave {
  padding-top: 40px;
  overflow: hidden;
}

.custom-checkbox_1 {
  /* display:flex;
   flex-direction: column;  */
  /* position: relative; */
  /* padding-bottom: 35px; */
  /* margin-bottom: 12px; */
  cursor: pointer;
}

.max-740{
  max-width: 740px;
}
.checkbox_1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  /* width: 0; */
  /* height: 0; */
}

.checkmark {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  bottom: 50px;
  border-radius: 5px;
  border: 1px solid #d68204;
  background: #FFBD59;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  /* display: block; */
  /* z-index: -1; */


}



.checkbox_1 .checkmark:after {
  /* left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); */
  content: "";
  position: absolute;
  top: 2px;
  left: 8.3px;
  width: 7px;
  height: 14px;
  opacity: 0;
  /* transform: rotate(45deg) scale(0); */
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.card img {
  width: 135px;
  height: 62px;

}


.input1::placeholder{
  text-align: left;
}

.img img{
  max-width: 518px;
    width: 100%;
    display: block;
    margin: auto;
}

.drkbtn {
  color: #fff;
  border-radius: 4px;
  background: #000;
  transition: 0.3s;
  border: 1px solid #000;
}

.drkbtn:hover {
  background: transparent;
  color: #000;
}

/* .form-check-input {
  display: inline-flex;
  width: 200px;
  height: 52px;
  padding: 2px 3px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #FFA318;
  background: #FFBD59;
  text-align: center;
  color: #FFA318;
} */


.head {
  position: relative;
  border-bottom: 0.779747px solid #bfbfbf;
  min-width: 100%;

}


.row .modal-checkout h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #808080;
}

.row .modal-checkout h6 {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}


.selfinput {
  color: #d28107;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
}


.row input.value {
  width: 20px;
  padding: 0;
  border: 0;
  background: transparent;
  margin: 0;
  text-align: center;
}

.row .modal-checkout h6 span {
  font-weight: 400;
  font-size: 9px;
  line-height: 17px;
  color: #808080;
}

.modal-right {}

::-webkit-input-placeholder {
  text-align: center;
  color: #FFA318;
}



/* @media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
}

@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
} */